---
import Block from "../components/Block.astro";
import ExperienceItem from "../components/HistoricItem.astro";
import _ from "../strings";
---

<Block class="santi" title={_({ english: "Education", spanish: "Educación" })}>
    <p class="date">2023 · hoy</p>
    <h3>UTN FRSFco</h3>
    <p>
        {_({
            english: "Systems Engineer",
            spanish: "Ing. en Sistemas de Información · 2° año",
        })}
    </p>
    <br />
    <p class="date">2016 · 2022</p>
    <h3>ProA Técnica San Fco.</h3>
    <p>
        {_({
            english: "Programming Technician",
            spanish: "Técnico en programación"
        })}
    </p>
    <p>
        {_({
            english: "First escort of the National Flag",
            spanish: "Primer escolta de la Bandera Nacional"
        })}
    </p>
    <br />
    <p class="date">2022</p>
    <h3>Argentina Programa</h3>
    <p>
        {_({
            english: "Full Stack Web Development",
            spanish: "Desarrollo web Full Stack"
        })}
    </p>
</Block>

<style>
.date {
    color: var(--cez);
    font-weight: bold;
}
</style>
