---
import Block from "../components/Block.astro";
---

    <Block class="valen" title="Inglés">
        <br/>
        <h2 class="text-$cez font-bold">CEFR English Level</h2>

        <h2 class="text-2em mt--.2em">B2</h2>
        <h2 class="text-$cez font-bold">Cambridge Scale</h2>
        <table>
            <tbody>
                <tr>
                    <td class="font-bold pr-.5em">Reading </td>
                    <td>170</td>
                </tr>
                <tr>
                    <td class="font-bold pr-.5em">Writing </td>
                    <td>170</td>
                </tr>
                <tr>
                    <td class="font-bold pr-.5em">Listening </td>
                    <td>170</td>
                </tr>
                <tr>
                    <td class="font-bold pr-.5em">Speaking </td>
                    <td>163</td>
                </tr>
            </tbody>
        </table>
    </Block>
