---
import HistoricItem from "../components/HistoricItem.astro";
import Block from "../components/Block.astro";
import _ from "../strings";
---
<Block class="valen side-side" title="Experiencia laboral">
<!--<HistoricItem
    date={_({ english: "March 2020 — present", spanish: "marzo 2020 — hoy" })}
    title={_({ english: "PEON: E-commerce solution", spanish: "PEON: Solución de e-commerce" })}
    link="https://elbarquito.ar"
>
    {_({
        english: "Developed for a client",
        spanish: "Desarrollado en base a la necesidades del cliente"
    })}
</HistoricItem>-->
<HistoricItem
    date="2023 · hoy"
    title="Venta al público"
>
    Atención al cliente en "El Barquito", venta de artículos de librería
</HistoricItem>
<!--<p className="text-4mm">
    {_({
        english: "+ more info at Personal Projects and my GitHub",
        spanish: "+ más info en Personal Projects y en mi GitHub"
    })}
</p>-->
</HistoricItem>
