---
import Block from "../components/Block.astro";
---

<Block className="santi" title="Soft skills">
    <ul>
        <li>Creatividad</li>
        <li>Atento al detalle</li>
        <li>Adaptabilidad</li>
        <li>Amabilidad</li>
        <li>Empatía</li>
        <li>Defensa</li>
    </ul>
</Block>
