---
import Block from "../components/Block.astro";
---

<Block class="valen" title="Tecnologías">
    <ul>
        <li>
            <strong>Frontend</strong>
            <ul>
                <li>
                    <i class="i-simple-icons-react" /> React
                </li>
                <li>
                    <i class="i-simple-icons-vuedotjs" /> Vue
                </li>
            </ul>
        </li>
        <li>
            <strong>Backend</strong>
            <ul>
                <li>
                    <i class="i-simple-icons-mysql" /> SQL
                </li>
                <li>
                    <i class="i-simple-icons-amazonaws" /> AWS
                </li>
                <li>
                    <i class="i-simple-icons-linux" /> Linux
                </li>
                <li>
                    <i class="i-simple-icons-docker" /> Docker
                </li>
            </ul>
        </li>
        <li>
            <strong>Medios</strong>
            <ul>
                <li>
                    <i class="i-simple-icons-blender" /> Blender
                </li>
                <li>
                    <i class="i-simple-icons-adobephotoshop" />{" "}
                    Photoshop
                </li>
                <li>
                    <i class="i-simple-icons-inkscape" /> Inkscape
                </li>
                <li>
                    <i class="i-simple-icons-kdenlive" /> KDEnlive
                </li>
                <li>
                    <i class="i-simple-icons-godotengine" /> Godot
                </li>
            </ul>
        </li>
    </ul>
</Block>

<style>
/*li {
    list-style-type: none;
}*/
</style>
