---
import Section from '../sections/Section.astro'

import "../css/reset.css";
import "../css/index.less";
---


<html lang="es">
<head>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/svg+xml" href="/vite.svg" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Curriculum</title>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com"
crossorigin="anonymous" />
  <link

href="https://fonts.googleapis.com/css2?family=Barlow:wght@500;700&family=
Montserrat:wght@300;400;700;900&display=swap"
    rel="stylesheet" />

</head>

<body>
    <div class="page two-col">
        <div class="col">
            <img class="pic"
                src="/santi4.jpg"
                alt="Selfie de Santiago Cézar frente a un campo de
                     paneles solares entre sierras."
            />
            <Section lang="es" name="intro" />
            <Section lang="es" name="education" />
        </div>
        <div class="col">
            <Section lang="es" name="experience" />
            <div class="two-col">
                <Section lang="es" name="projects" />
                <div class="col">
                    <Section lang="es" name="character" />
                    <Section lang="es" name="english" />
                </div>
            </div>
        </div>
    </div>
</body>

</html>

<style>
.page {
    padding: 5mm;
    width: 210mm;
    height: 297mm;
    background-color: var(--bg);
}

.two-col {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3mm;
}

.two-col.page {
    grid-template-columns: 7cm 1fr;
}

.col {
    display: flex;
    flex-direction: column;
    gap: 3mm;
}

.pic {
    border-radius: 3mm;
    aspect-ratio: 1 / 1;
    width: 100%;
}

@media not print {
    .on-print {
        display: none;
    }
    .page {
        box-shadow: 0 8px 16px #0004;
        margin: 16px auto;
    }

    .page:not(:first-child) {
        margin-top: -5mm;
    }
}

</style>

