---
import type { HTMLAttributes } from 'astro/types';

export interface Props extends HTMLAttributes<'div'> {
    title: string
}
---

<div {...Astro.props}>
    {Astro.props.title && <h2>{Astro.props.title}</h2>}
    <slot />
</div>

<style>
div {
    padding: 3mm;
    border-radius: 3mm;
    background-color: var(--c);
    border: 1mm solid var(--ce);
}
h2 {
    font-size: 6mm;
    grid-column: 1 / -1;
}
</style>
