---
import Education from "../parts/Education.astro";
import _ from "../strings";
---

<div class="sidebar-wrapper">
    <div class="sidebar">
        <img class="pic" src="/santi4.jpg" alt="" />
        <div class="text">
            <header class="name font-title">
                <h1 class="text-2em font-bold">Santiago Cézar</h1>
                <p class="font-bold">{_({ english: "software development and design", spanish: "diseño y desarrollo de software" })}</p>
                <p class="on-print">cv.scez.ar</p>
            </header>
            <p class="desc rd-3mm indent-5mm">
                {_({
                    english: `
                        "I am a Programming Technician and a university student of Systems " +
                        "Engineering. With experience in software development, design and " +
                        "troubleshooting. Linux user. I am looking for a part-time job that " +
                        "allows me to keep a balanced approach with my studies."
                    `,
                    spanish: `
                        Técnico en Programación, cursando 2° año de Ingeniería
                        en Sistemas. Experiencia en desarrollo, diseño y resolución de
                        problemas de software.
                    `
                })}
            </p>

            <div>
                <p>
                    <i class="mr-2 i-ic-baseline-cake" />{" "}
                    <a href="#">24/06/2004</a>
                </p>
                <p>
                    <i class="mr-2 i-ic-baseline-perm-identity" />{" "}
                    <a href="#">DNI: 45.702.443</a>
                </p>
                <p>
                    <i class="mr-2 i-ic-baseline-phone" />{" "}
                    <a href="tel:+5403564604281">3564 604281</a>
                </p>
                <p>
                    <i class="mr-2 i-simple-icons-gmail" />{" "}
                    <a href="mailto:santiagocezar2013@gmail.com">
                        santiagocezar2013@gmail.com
                    </a>
                </p>
                <p>
                    <i class="mr-2 i-simple-icons-github" />
                    <a href="https://github.com/santiagocezar">santiagocezar</a>
                </p>
                <p>
                    <i class="mr-2 i-simple-icons-linkedin" />
                    <a href="https://linkedin.com/in/scezar">scezar</a>
                <p>
                    <i class="mr-2 i-ic-baseline-language" />
                    <a href="https://santiago.cez.ar/">santiago.cez.ar/</a>
                </p>
                </p>
            </div>
        </div>
        <Education />
    </div>

    <div class="content">
    	<slot></slot>
    </div>
</div>

<style>
.sidebar-wrapper {
    display: flex;
    gap: 5mm;
    height: 100%;
}
.sidebar {
    display: flex;
    flex-direction: column;
    width: 8cm;
    flex-shrink: 0;
    gap: 5mm;
}
.text {
    display: flex;
    flex-direction: column;
    border: 1mm solid var(--va);
    padding: 5mm;
    border-radius: 3mm;
    gap: 3mm;
}
.pic {
    border-radius: 3mm;
    aspect-ratio: 1 / 1;
    width: 100%;
}
.desc {
/*     text-wrap: balance; */
}
[class^='i-'], [class*=' i-'] {
    color: var(--san)
}
</style>
