* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --body-font: Barlow;
    --title-font: Montserrat;

    font-family: var(--body-font);
    font-size: 4mm;
    line-height: 1.25;
    font-weight: 400;
    
    --pink1: #fceeed;
    --pink2: #ffbec9;
    --pink3: #ff4294;
    --pink4: #9e0884;
    
    --blue1: #dbf9ff;
    --blue2: #94d7ea;
    --blue3: #4183fb;
    --blue4: #502490;
    
    --text: #161027;

    --bg: #fff;

    color: var(--text);
    background-color: #eee;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
}

.pink {
    --c1: var(--pink1);
    --c2: var(--pink2);
    --c3: var(--pink3);
    --c4: var(--pink4);
}

.blue {
    --c1: var(--blue1);
    --c2: var(--blue2);
    --c3: var(--blue3);
    --c4: var(--blue4);
}

h1, h2, h3, h4, h5, h6, .font-title {
    font-family: var(--title-font);
    font-weight: 600;
}

h1 { font-size: 1.5em; }
h2 { font-size: 1.2em; }

hr {
    border: none;
    border-top: .5mm dashed var(--c3);
    margin: 2mm 0;
}

em {
    font-style: italic;
}

table {
    width: 100%;
    background-color: var(--bg);
    border-radius: 2mm;
}
td {
    padding: 1mm 2mm;
}
td:not(:first-child) {
    border-left: .5mm dashed var(--c3);
}
tr:not(:first-child) {
    border-top: .5mm dashed var(--c3);
}

ul {
    margin-left: 1rem;
    list-style-type: "✦  ";
}
li::marker {
    color: var(--c3);
}


a {
    color: var(--c3);
    text-decoration: underline;
}

.text .section-body {
    h1, h2, h3, h4, h5, h6 {
        &:not(:first-child) {
            margin-top: .1em;
        }
    }
    p, table, ul, ol {
        &:not(:first-child) {
            margin-top: .5em;
        }
    }
}

@media (prefers-color-scheme: dark) {
    /* TODO */
}

@media print {
    astro-dev-toolbar {
        display: none;
    }
}
