---
import Date from '../components/Date.astro'
import Project from '../components/Project.astro'
import Icon from '../components/Icon.astro'
import Link from '../components/Link.astro'
import Level from '../components/Level.astro'

const { lang, name } = Astro.props

const components = {
    icon: Icon,
    link: Link,
    level: Level,
    date: Date,
    project: Project,
}

const { Content, frontmatter } = await import(`./${lang}/${name}.mdx`)
---

<div class={"section " + (frontmatter.class ?? "")}>
    {frontmatter.title && <h1>
        <span class="title">{frontmatter.title}</span>
        <span class="close">×</span>
    </h1>}
    <div class="section-body">
        <Content components={components} />
    </div>
</div>

<style>
h1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1mm 1mm 1mm 4mm;
    border-bottom: .5mm solid var(--c3);
    border-radius: 1.5mm 1.5mm 0 0;
    background-color: var(--c2);
}
.title {
    color: white;
    font-weight: 900;
    text-shadow: .5mm .5mm var(--c3);
}
.close {
    user-select: none;
    font-size: 2em;
    line-height: .5;
    font-weight: 100;
    color: var(--c3);
    border-radius: .1em;
}
.section {
    background-color: var(--c1);
    border-radius: 2mm;
    border: 0.5mm solid var(--c3);
    box-shadow: .5mm .5mm var(--c3);
}
.section-body {
    padding: 3mm 4mm;
}
:global(strong) {
    color: var(--c3);
}

.columns .section-body {
    display: grid;
    gap: 0 3mm;
    grid-template-columns: auto 1fr;
}

.intro :global(h1) {
    font-size: 1.8rem;
    font-weight: 900;
}
.intro {
    text-wrap: balance;
}
</style>
